In [1]:
print("_______________________________________")
print("Data Inputan")
print("_______________________________________")
nis=input("NIS :")
nama=input("Nama :")
jk=input("Jenis Kelamin :")
rombel=input("Rombel :")
rayon=input("Rayon :")
nilai_indonesia=input("Nilai B.Indonesia :")
nilai_mtk=input("Nilai Matematika :")
nilai_inggris=input("Nilai B.Inggris :")
print("_______________________________________")
print("Laporan Nilai Akhir Semester")
print("SMK Wikrama Bogor")
print("__________Data Diri____________ ")
print("NIS :"+nis)
print("Nama :"+nama)
print("Jenis Kelamin :"+jk)
print("Rombel :"+rombel)
print("Rayon :"+rayon)
print("_____________Nilai_____________")
print("B.Indonesia :"+nilai_indonesia)
print("Matematika :"+nilai_mtk)
print("B.Inggris :"+nilai_inggris)
nilai=(int(nilai_indonesia)+int(nilai_mtk)+int(nilai_inggris))/3
print("Rata-rata :"+str(nilai))
if nilai>75:
    print("keterangan :"+"Lulus")
else:
    print("Keterangan :"+"tidak lulus")

_______________________________________
Data Inputan
_______________________________________
NIS :11806897
Nama :Siti Hamidah
Jenis Kelamin :perempuan
Rombel :RPL XI-3
Rayon :Cibedug 2
Nilai B.Indonesia :90
Nilai Matematika :80
Nilai B.Inggris :87
_______________________________________
Laporan Nilai Akhir Semester
SMK Wikrama Bogor
__________Data Diri____________
NIS :11806897
Nama :Siti Hamidah
Jenis Kelamin :perempuan
Rombel :RPL XI-3
Rayon :Cibedug 2
_____________Nilai_____________
B.Indonesia :90
Matematika :80
B.Inggris :87
Rata-rata :85.66666666666667
keterangan :Lulus